<link rel="stylesheet" href="https://use.typekit.net/ebq4wgm.css">
<link rel="stylesheet" type="text/css" href="/css/header.css" />

<div class="container">
    <div class="container-content">
        <b id="lrg"><a href="recommender-dashboard">Letter of Recommendation</a></b>
        <b><a href="recommender-dashboard">Recommendations</a></b>
        <b><a href="template-dashboard">Templates</a></b>
        <b><a href="archive">Archive</a></b>
        <b><a href="about">About</a></b>
        <b><a></a></b><b><a></a></b><b><a></a></b><b><a></a></b><b><a></a></b><b><a></a></b><b><a></a></b><b><a></a></b>
<<<<<<< HEAD:letterOfRecGenerator/views/partials/header.ejs
        <b><a id="logout" float="right" href="logout">Logout</a></b>
=======
        <b><a id="logout" float="right" href="/auth/logout">Logout</a></b>
>>>>>>> 8912f3dc87304c7b0983955dac40b8ae5e2cc2ea:app/views/partials/header.ejs
        <img id ="usc-logo" src="/images/usc_logo_big.png"/>
    </div>
</div>
