<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<p class="lead mb-3">Welcome <%= user.name %></p>
=======
<p class="lead mb-3">Welcome <%= user.name %></p>
>>>>>>> parent of ae7cd2e... potentially finish login with authentication, needs testing
=======
<p class="lead mb-3">Welcome <%= user.name %></p>
>>>>>>> parent of ae7cd2e... potentially finish login with authentication, needs testing
=======
>>>>>>> parent of ae7cd2e... potentially finish login with authentication, needs testing
=======
>>>>>>> parent of ae7cd2e... potentially finish login with authentication, needs testing
=======
>>>>>>> parent of ae7cd2e... potentially finish login with authentication, needs testing
<a href="/users/logout" class="btn btn-secondary">Logout</a>
