table {
    background-color: #FFFFFF;
    border-collapse: collapse;
    width: 892px;
    margin-left:auto;
    margin-right:auto;
}

#description {
  padding-right: 60px;
  padding-left: 60px;
  font-size: 16px;
}

.title {
  padding-top: 60px;
}

#vid-box {
  padding: 0px;
}

#vid1 {
  float: left;
  padding-left: 70px;
  padding-bottom: 200px;
}

#vid2 {
  float: right;
  padding-right: 70px;
  padding-bottom: 200px;
}

#subtitle1 {
  font-style: italic;
  font-size: 16px;
  float: left;
  padding-left: 70px;
  padding-bottom: 20px;
}

#subtitle2 {
  font-style: italic;
  font-size: 16px;
  float: right;
  padding-right: 230px;
  padding-bottom: 20px;
}

#tutorial {
  padding-left: 70px;
  padding-right: 70px;
  font-size: 16px;
}

#subtitle {
  padding-left: 60px;
  padding-bottom: 20px;
}
