.response {
    background-color: #FFFFFF;
}

.title {
    background-color: #FFFFFF;
    font-size: 20px;
    margin: 0;
    padding: 20px 35px;
    padding-left: 10px;
    padding-top: 70px;
}

/* body {
    background-color: #F2F2F2;
    margin-left: 15%;
    margin-right: 15%;
} */

body {
  align-content: center; 
}

/* Table Management */

table {
    background-color: #FFFFFF;
    border-collapse: collapse;
    font-size: 20px;
    width: 900px;
    position: center;
}

th,td{
    border-bottom: 1px solid #ddd;
}

td {
    padding-left: 8px;
    font-size: 14px;
}

table thead tr {
    border-bottom: solid 1px black;
}

table tbody tr {
    border-bottom: solid 1px black;
    height: 40px;
}

table tbody tr td {
    position: relative;
}

td.center {
    text-align: center;
}

table tbody tr:last-child {
    border-bottom: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#save-button {
    background-color: #990000;
    color: white;
    cursor: pointer;
    /* display: table-cell; */
    font-size: 17px;
    height: 50px;
    width:190px;
    /* border: 0.1px solid black; */
    position: relative;
    float: right;
    right: 8px;
    padding: 9px 0px 5px;
    text-align: center;
    margin-top: 20px;
}

#save-button:hover {
    color: #FFCC00;
}
