<!DOCTYPE html>
<html>
  <head>
      <title><%= title %></title>
      <link rel="stylesheet" href="/stylesheets/style.css"/>
      <link rel="stylesheet" type="text/css" href="/css/all.css"/>
      <link rel="stylesheet" type="text/css" href="/css/about.css"/>
      <style type="text/css"></style>
  </head>
  <body>
    <header>
        <% include ../partials/header %>
    </header>

    <div class="About">

        <table id="about-table">
          <td>
            <p class="title"><%= title %></p>
            <br>
            <p id="description">
                In academia and industry, writing letters of recommendation is a very
                important task. Many faculty and professionals have a standard template
                that is merely customized for each request. Others may ask the person to
                write the recommendation himself, then verify it is accurate before signing.
                Although this may work, it would be much better if the person requesting
                the recommendation could help structure the recommendation.
            <br><br>
                This application allows a person requesting a recommendation to submit all
                of the information he wants included through a form, and the person
                writing the recommendation can then automatically pull that information
                into a template that he has created. After the letter has been generated,
                the recommender can download it and ensure it is accurate. After the
                recommender approves it, the original person can also download the
                electronic version of the letter.
            </p>
            <br>
            <div>
              <p class="title">Tutorials</p>
              <div>
                <h2 id="subtitle"> Step 1: Create a Template </h2>
              </div>
                <tr>
                  <td>
                    <p id="tutorial">
                      The first step is to create a template. Navigate to
                      the Templates page, and click the "Create Template"
                      button towards the right side of the page. Different
                      templates can serve different purposes. For example,
                      a letter for an internship position, full-time position,
                      and scholarship award all may look different.
                    </p>
                  </td>
                  <td align="center">
                    <img src="/images/USC_logo.png"/>
                  </td>
                </tr>
                <br><br>
                <tr>
                  <td>
                      <p id="tutorial">
                        First you will see a list of standardized questions that are likely
                        to appear in every template you create (First name, last name, & personal pronouns).
                        We encourage that you create additional questions based on the type of letter you are
                        writing. If you wish to create an internship recommendation letter, then create a question
                        asking which company the student is applying to. Once the proper questions are in place
                        write the body of the letter in the text editor area. Be sure to include a "tag" wherever
                        is appropriate (see example on right). Finally, the last step is to upload an input
                        document if you wish for the letter to have your own custom header and footer. Just
                        make sure that the input document is a .docx file and that {description} is typed in
                        where you'd like the body of the letter to be.
                      </p>
                  </td>
                  <td align="center">
                    <img src="/images/USC_logo.png" />
                  </td>
                </tr>
                <br><br><br><br>
                <tr>
                  <td>
                    <h2 id="subtitle"> Step 2: Create a Recommendation </h2>
                    <br>
                    <p id="tutorial">
                      Now that you have a template, you may start fulfilling recommendation letter requests.
                      When a recommendee asks you for a recommendation letter, start the
                      process by clicking the "+ Create Recommendation" button. This will send a
                      survey to the recommendee via email, prompting them to fill out the appropriate
                      questions based on your selected template. Once the survey is complete you
                      will receive an email notification, however, you can always check the status of the survey
                      by refreshing the page and seeing whether the status icon is a red X or green
                      checkmark. A green checkmark signifies that the survey has been completed and
                      that the letter is ready to be downloaded and distributed.
                    </p>
                  </td>
                  <td align="center">
                    <img src="/images/USC_logo.png" />
                  </td>
                </tr>
                <br><br>
                <tr>
                  <td>
                    <h2 id="subtitle"> Step 3: Download the letter </h2>
                    <br>
                    <p id="tutorial">
                      Once the survey is complete, click the "View Responses" button on the recommender dashboard
                      to check for any typos in the student's responses. If there is a small typo, you may edit
                      the response yourself instead of having to resend the survey and wait for its completion.
                      If there are no typos, go back to the recommender dashboard and click the "Preview Letter"
                      button. Here you can review the letter, save it, and download it. The output file is a
                      .docx file and will be called "output.docx".
                    </p>
                  </td>
                  <td align="center">
                    <img src="/images/USC_logo.png" />
                  </td>
                </tr>
                <br><br>
                <td>
                  <h2 id="subtitle"> Input document to Output document </h2>
                </td>
                <tr>
                  <td align="center">
                    <img src="/images/USC_logo.png" />
                  </td>
                  <td align="center">
                    <img src="/images/USC_logo.png" />
                  </td>
                </tr>
              </div>
            </td>
        </table>
    </div>
  </body>
</html>
