<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/login.css" />
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="901758022243-s3lganllgkco92plhqd3nu5htls9lqgo.apps.googleusercontent.com">
    </head>
    <body>
        <h1 class="title"><%= title %></h1>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </body>
</html>
