<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/login.css" />
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="468934162681-cbfmk6ung8pm2jaqsf68r9e24vb888j5.apps.googleusercontent.com.apps.googleusercontent.com">

    </head>
    <body>
        <h1 class="title"><%= title %></h1>
        <div class="g-signin2" onclick="location.href='<%= url %>';"></div>

    </body>
</html>